
@{
    ViewBag.Title = "ConsecutivoAdmi";
}

<div class="bg-image" style=" background-image: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');height: 100vh; ">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Consecutivo</h1>
                    <form class="form-signin">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Consecutivo</th>
                                    <th scope="col"href="@Url.Action("ConsecutivoEditar", "Admin")">Editar</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button href="@Url.Action("ConsecutivoNuevo", "Admin")" class="btn btn-primary">Nuevo</button>

                                <a class="btn btn-primary" href="@Url.Action("PaginaPrincipal", "Admin")">Regresar</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
