
@{
    ViewBag.Title = "ConsultaAerolineasPorPais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="bg-image" style=" background-image: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');height: 100vh; ">

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Aerolineas por país</h1>
                    <form class="form-signin">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Codigo de agencía</th>
                                    <th scope="col">Nombre de agencía</th>
                                    <th scope="col">Imagen</th>
                                </tr>
                            </thead>
                        </table>
                        <div class="col-sm-10">
                            <a class="btn btn-primary" href="@Url.Action("PaginaPrincipal", "Admin")">Regresar</a>
                            <hr class="my-4">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

