
@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/LayoutAdmiLogin.cshtml";
}

<div class="bg-image" style=" background-image: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');height: 100vh; ">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body">
                        <h1 class="card-title text-center">Iniciar Sesion</h1>
                        <form class="form-signin">
                            <div class="form-label-group">
                                <input id="usuario" name="usuario" class="form-control" placeholder="Usuario" required autofocus>
                                <label for="label">Usuario</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Contraseña" required>
                                <label for="inputPassword">Contraseña</label>
                            </div>
                            <a id="login" href="@Url.Action("PaginaPrincipal","Admin")" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Iniciar Sesion</a>
                            <hr class="my-4">
                            <input type="button" id="btnGoogleLogin"
                                   value="Login with Google" class="btn btn-success" />
                            <input type="button" id="btnFacebookLogin"
                                   value="Login with Facebook" class="btn btn-success" />
                            <div class="mt-4">
                                <div class="d-flex justify-content-center links">
                                    ¿Tiene cuenta? <a href="@Url.Action("Create", "Usuario")" class="ml-2">Registrarse</a>
                                </div>
                                <div class="d-flex justify-content-center links">
                                    ¿Olvido su contraseña? <a href="@Url.Action("RestablecerPwd", "Admin")" class="ml-2">RestablecerContraseña</a>
                                </div>
                                <br>
                            </div>
                            <div class="form-group row">
                                
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<script type="text/javascript">
    $(document).ready(function () {



        $('#login').click(function () {
            $.ajax({
                // Post username, password & the grant type to /token
                url: '/token',
                method: 'POST',
                contentType: 'application/json',
                data: {
                    username: $('#usuario').val(),
                    password: $('#inputPassword').val(),
                    grant_type: 'password'
                },
                // When the request completes successfully, save the
                // access token in the browser session storage and
                // redirect the user to Data.html page. We do not have
                // this page yet. So please add it to the
                // EmployeeService project before running it
                success: function (response) {
                    sessionStorage.setItem("accessToken", response.access_token);
                    window.location.href = "Data.html";
                },
                // Display errors if any in the Bootstrap alert <div>
                error: function (jqXHR) {
                    $('#divErrorText').text(jqXHR.responseText);
                    $('#divError').show('fade');
                }
            });
        });
    });
</script>



<script type="text/javascript">
    $(document).ready(function () {



        // Save the new user details
        $('#inicio').click(function () {
            $.ajax({
                url: '/api/Cliente',
                method: 'GET',
                data: {
                    email: $('#txtEmail').val(),
                    password: $('#txtPassword').val(),
                    confirmPassword: $('#txtConfirmPassword').val()
                },
                success: function () {
                    $('#successModal').modal('show');
                },
                error: function (jqXHR) {
                    $('#divErrorText').text(jqXHR.responseText);
                    $('#divError').show('fade');
                }
            });
        });
    });
</script>
-->
