
@{
    ViewBag.Title = "PaginaPrincipal";
}

<div class="bg-image" style=" background-image: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');height: 100vh; ">
    <h3 class="card-title text-center align-bottom" style="color: white;">Alrededor del mundo</h3>
    <h1 class="card-title text-center align-bottom" style="color: white;">V-VUELOS Airlines</h1>
</div>

