
@{
    ViewBag.Title = "SalidaVuelos";
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}

<div class="bg-image" style=" background-image: url('https://images.pexels.com/photos/46148/aircraft-jet-landing-cloud-46148.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');height: 100vh; ">

    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Salida de Vuelos</h1>
                    <form class="form-signin">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Vuelo</th>
                                    <th scope="col">Aerolinea</th>
                                    <th scope="col">Destino</th>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Hora</th>
                                    <th scope="col">Estado</th>
                                    <th scope="col">Puerta</th>

                                </tr>
                            </thead>
                        </table>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button href="@Url.Action("PaginaPrincipalCliente", "Admin")" class="btn btn-primary">Regresar</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
  
