@model V_VuelosServiciosWeb.Models.IMAGEN_AEROLINEA

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/LayoutCliente.cshtml";
}

<h2>Details</h2>

<div>
    <h4>IMAGEN_AEROLINEA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IMAGEN_AEROLINEA1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IMAGEN_AEROLINEA1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_IMAGEN_AEROLINEA }) |
    @Html.ActionLink("Back to List", "Index")
</p>
