@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-lg-6 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Bienvenido a V-VUELOS</h1>
                    <h3 class="card-title text-center">
                        Una aplicacición la cual consiste en la visualizacion
                        de los vuelos tanto llegadas como salidas del aeropuerto. Además, tiene la factibilidad
                        de que los clientes puedan comprar los boletos y reservarlos.
                    </h3>
                </div>
            </div>
            <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Login">Iniciar Sesion</a>
        </div>
    </div>
</div>


