
@{
    ViewData["Title"] = "AdminBitacora";
}

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h1 class="card-title text-center">Bitacora</h1>
                <form class="form-signin">
                
                    <label id="Usuario">Usuario:</label>
                    <br />
                    <label id="FechaYHora">Fecha y hora:</label>
                    <br />
                    <label id="CodigoRegistro">Usuario:</label>
                    <br />
                    <label id="Descripcion">Descripcion:</label>
                    <br />
                    <label id="RegistroDetalle">Registro en detalle:</label>
                </form>
            </div>
        </div>
    </div>
</div>

