
@{
    ViewData["Title"] = "PuertasActivas";
}

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h1 class="card-title text-center">Puertas del aeropuerto</h1>
                <form class="form-signin">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Codigo de puerta</th>
                            <th scope="col">Numero de puerta</th>
                            <th scope="col">Detalle</th>
                        </tr>
                        </thead>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>


