
@{
    ViewData["Title"] = "NuevoConsecutivo";
}

<div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
            <div class="card-body">
                <h1 class="card-title text-center">Consecutivo Nuevo</h1>
                <form class="form-signin">
                    <label for="Descripcion" id="LblDescripcion">Descripcion</label>
                    <input type="text" id="Descripcion">
                    <br />
                    <label for="Consecutivo" id="LblConsecutivo">Consecutivo</label>
                    <input type="text" id="Consecutivo">
                    <br />
                    <label for="Prefijo" id="LblPrefijo">Posee prefijo:</label>
                    <input type="checkbox" id="CheckPrefijo">
                    <br />
                    <label for="Prefijo" id="LblPrefijo">Prefijo</label>
                    <input type="text" id="Prefijo">
                    <br />
                    <label for="Rango" id="LblRango">Posee Rango</label>
                    <input type="checkbox" id="CheckRango">
                    <br />
                    <label for="Rango" id="LblRangoInicial">Rango inicial</label>
                    <input type="text" id="RangoInicial">
                    <br />
                    <label for="Rango" id="LblRangoFinal">Rango final</label>
                    <input type="text" id="RangoFinal">

                    <br />
                    <div class="col-lg-offset-4 col-lg-4 col-md-offset-4 col-md-4 col-sm-12 col-xs-12">
                        <button type="button" value="Aceptar" name="btnAceptar" id="btnAceptar" tabindex="9">Aceptar</button>
                        <button class="btn btn-primary" asp-area="" asp-controller="Administracion" asp-action="Consecutivo">Cancelar</button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


